MUST3R_ROOT=must3r
MUST3R_PYTHON=.venv/bin/python
MUST3R_WEIGHTS=must3r/models/MUSt3R_512.pth
MUST3R_RETRIEVAL=must3r/models/MUSt3R_512_retrieval_trainingfree.pth

HOST=127.0.0.1
PORT=8000
STORAGE_DIR=storage/jobs

DEFAULT_DEVICE=mps
DEFAULT_IMAGE_SIZE=512
DEFAULT_MAX_BS=1
DEFAULT_REFINEMENT_ITERATIONS=6
DEFAULT_EXECUTION_MODE=retrieval
